@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	line-height: 1.5;
	font-weight: 700;
	font-size: calc(100lvw / 50);
	color: rgba(255, 255, 255, 0.87);
	background-color: #000000;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.noto {
	font-family: "Noto Serif", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "wdth" 100;
}

body {
	margin: 0;
	min-height: 100vh;
	min-height: 100lvh;
}



/*
Où est le BEM?
*/

h1 {
	font-size: 3rem;
	line-height: 1.1;
}

video {
  max-width: none;
}

/* 
I'm not sure I like relying on custom HTML tags like this. I'll probably switch
this for class selectors to select/initialise from. 
*/

scroll-journey {
	display: block;
}

scroll-section {
	display: none;
	height: 100lvh;
	max-height: 100lvh;
	width: 100lvw;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	box-sizing: border-box;
}

scroll-element {
	display: block;
}

/*
This is all bit crap but gets us up and running
*/

.scroll-section--blue {
	background-color: #202045;
}

.scroll-section--pink {
	background-color: #cd0d90;
}

.scroll-section--active {
	display: block;
}

.scroll-section--centre {
	position: absolute;
	width: 100vw;
	text-align: center;
}

.earth {
	background-color: #33221a;
}

.earth .primary {
	color: #b26938;;
}

.earth .accent {
	color: #fdb913;
}

.scroll-section--full-screen-background {
	position: fixed;
	width: 100lvw;
	height: 100lvh;
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
}

.full-screen-background-image {
  min-width: 100lvw;
  min-height: 100lvh;
  position: absolute;
  left: 0;
  top: 0;
}

.below-the-fold {
  position: absolute;
  top: 100lvh;
}

.align-left {
  text-align: left;
}


.gallery {
  display: flex;
	width: max-content;
}

.gallery img {
  height: 60lvh;
  width: auto;
  margin: 0 2rem
}

.dark-green {
	color: #fff;
	background-color: #1F2833;
}
